body, html {
    height: 100%;
    background-color: #002f35;
    margin: 0%;
    position: relative;
    float: left;

}



.login-text {
  text-align:center;
  position: relative;  
  transform: translate(-50%, -50%);
  color: #e6e7dd;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-weight:500;
  top: -55%;
  left: 93%;
  font-size: larger;
  
  
}



#logbtn{
    position: relative;
    background-color: #ea2258; 
    border: none;
    color: white;
    padding: 12px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    top: -55%;
    left: 84%;

}

#regbtn{
    background-color:transparent;
    color: white;
    border: 2px solid #ea2258; 
    padding: 10px 19px;
    font-size: 16px;
    position: relative;
    top:-55%;
    left: 84%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}

#side_image{
  background-image: url(./images/home_img.jpg);
  float: left;
  width:40%;
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  position: relative;

}
.log-form{
  position: relative;
  display: grid;
  top:30%;
  left:135%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #e6e7dd;
}

.submit{
  width: 200px;
  align-self: center; 
  position: relative;
  background-color: #ea2258; 
  border: none;
  color: white;
  padding: 12px 50px;
  text-align: center;
  margin-top:20px;
  display: inline-block;
  font-size: 16px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  margin-left: 25%;
  border-radius: 20px;
 
}

.cancelbtn{
  width: 200px;
  background-color:transparent;
  color: white;
  border: 2px solid #ea2258; 
  padding: 10px 42.5px;
  font-size: 16px;
  position: relative;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  margin-top: 20px;
  margin-left: 25%;
  border-radius: 20px;
  
}

#heading-log{
  color: #e6e7dd;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: relative;
  font-size: 35px;
  font-weight: bold;  
  top:25%;
  left:147%;
}

#heading-reg{
  color: #e6e7dd;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: relative;
  font-size: 35px;
  font-weight: bold;  
  top:25%;
  left: 142%;
}

.usnfill{
  min-width: 400px;
  border-radius: 0px;
  min-height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: none;
  border-bottom: 2px solid white ;
  background-color: transparent;
  
}

.passfill{
  min-width: 400px;
min-height: 40px;
margin-top: 10px;
margin-bottom: 10px;
border: none;
border-bottom: 2px solid white;
background-color: transparent;

}

.emailfill{
min-width: 400px;
min-height: 40px;
border: none;
border-bottom: 2px solid white;
background-color: transparent;
margin-top: 10px;
margin-bottom: 10px;

}

.form{
  position: relative;
  display: grid;
  top:30%;
  left:135%;
  color: #e6e7dd;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.user-form{
   
  color:#ea2258;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}

#marks-box-ex{
  position: relative;
  display:inline-block;
  max-width: 70px;
  min-height: 20px;
  margin-top: 5px;
  margin-bottom: 18px;
  
  
}

#marks-box-ia{
  position: relative;
  display:inline-block;
  max-width: 70px;
  min-height: 20px;
  margin-top: 5px;
  margin-bottom: 18px;
}

.left-four{
  display: inline-block;
  left: 1170px;
  top: 150px;
  position: relative;
  
  width: 100px;

  
  
}

.right-four{
  position: relative;
  top: 150px;
  left:1200px;
  display: inline-block;
  width: 100px;
  
        
}

.submit-form{
  width: 200px;
  align-self: center; 
  position: relative;
  background-color: #ea2258; 
  border: none;
  color: white;
  padding: 12px 50px;
  text-align: center;
  margin-top:160px;
  display: inline-block;
  font-size: 16px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  margin-left: 1178px;
  border-radius: 20px;
}
